<div class="card text-bg-light mb-3" style="max-width: 40rem; ">
  <div class="card-body">
    <h3>Crear tarea nueva</h3>
    <form [formGroup]="formGroupTareas">
      <div class="row mb-3">

        <div class="col mb-3">
          <label for="nombreTarea" class="form-label">Nombre de la tarea (*)</label>
          <input type="text" class="form-control" placeholder="Nombre completo" formControlName="nombreTarea">
          <div *ngIf="formGroupTareas.get('nombreTarea')?.invalid && formGroupTareas.get('nombreTarea')?.touched">
            <p *ngIf="formGroupTareas.get('nombreTarea')?.errors?.['required']" style="color: red;">Nombre es requerido.</p>
          </div>
          <h6 style="color: rgb(255, 123, 0);">{{avisoPersonaNombreRepetido}}</h6>
        </div>


        <div class="col mb-3">
          <label for="fechaLimite" class="form-label">Fecha limite (*)</label>
          <input type="date" class="form-control" placeholder="Fecha limite" formControlName="fechaTarea"/>
          <div *ngIf="formGroupTareas.get('fechaTarea')?.invalid && formGroupTareas.get('fechaTarea')?.touched">
            <p *ngIf="formGroupTareas.get('fechaTarea')?.errors?.['required']" style="color: red;">Fecha es requerida.</p>
          </div>

        </div>
      </div>

      <div formArrayName="personas">
        <div *ngFor="let persona of personas.controls; let i = index" [formGroupName]="i">
          <h3>Personas asociadas</h3>

          <div class="col mb-3" >
            <label for="nombreCompleto" class="form-label">Nombre completo (*)</label>
            <input type="text" class="form-control" formControlName="nombreCompleto">
            <div *ngIf="persona.get('nombreCompleto')?.invalid && persona.get('nombreCompleto')?.touched">
              <p *ngIf="persona.get('nombreCompleto')?.errors?.['required']" style="color: red;">Nombre es requerido.</p>
            </div>
          </div>

          <div class="col mb-3">
            <label for="edad" class="form-label">Edad (*)</label>
            <input type="number" class="form-control" formControlName="edad">
            <div *ngIf="persona.get('edad')?.invalid && persona.get('edad')?.touched">
              <p *ngIf="persona.get('edad')?.errors?.['required']" style="color: red;">Edad es requerida.</p>
            </div>
          </div>

          <div class="seccionHabilidad">
            <h4>Habilidades (*)</h4>
            <h6 style="color: rgb(255, 123, 0);">Agregar al menos 1 habilidad:</h6>
            <div class="camposHabilidad">
              <div class="col mb-3">
                <input type="text" class="form-control" [formControl]="nuevaHabilidad" (keydown.enter)="addHabilidad(i)">
                <button
                      type="button"
                      class="btn  btn-primary"
                      (click)="addHabilidad(i)"
                      >
                      Añadir habilidad
                </button>
              </div>
            </div>
            <h5>Habilidades de la persona:</h5>
            <div class="mb-3 row">
              <div class="col-sm-9" formArrayName="habilidades">
                  <div class="mb-1" *ngFor="let habilidad of getHabilidades(i).controls; let j = index" style="display: flex; align-items: center;">
                      <p style="margin: 0;">{{ j + 1 }}. {{ habilidad.value }}</p>
                      <button (click)="eliminarHabilidad( i, j )"
                              class="btn btn-outline-danger"
                              type="button">
                          Eliminar
                      </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <button type="button" class="btn  btn-primary" (click)="addPersona()"  [disabled]="!habilitarBotonAgregarPersona()">Añadir persona </button>
      <div *ngFor="let persona of arrayPersonas let i = index">
        <hr>
        <h4>Detalles de la persona:</h4>
        <ul>
          <li *ngFor="let key of getCamposArray(persona)">
            <strong>{{ key }}</strong>: {{ persona[key] }}
          </li>
        </ul>
        <button type="button" class="btn  btn-danger" (click)="eliminarPersona(i)">Eliminar persona </button>
      </div>
      <hr>
      <button type="button" class="btn btn-success"  (click)="guardarTarea()" [disabled]="habilitarguardar(arrayPersonas)">Guardar tarea</button>
    </form>
  </div>
</div>
